.dabba{
    border: 2px solid white;
    width: 20rem;
    height: 20rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction:column;
    border-radius: 4rem;
    background-color:#181818;
}
.task{
    border: 2px solid white;
    width: 20rem;
    height: 30rem;
    display: flex;
    align-items: center;
    flex-direction:column;
    border-radius: 2rem;
    background-color: #181818;
}
.masla{
    height: 50rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    background-color: #1a2735;
}
.fa-times{
    color: rgb(177, 6, 6);
    margin-right: 4rem;
}
.item{
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}
.item li{
    list-style: none;
    margin-right: 3rem;
    color: white;
    font-size: large;
    font-style: italic;
    width: 12rem;
}
.dabba h2{
    margin-bottom: 3rem;
    background-color: rgb(148, 9, 9);
    border-radius: 6rem;
    padding: 0.5rem;
    color: white;
}
.dabba input{
    width: 12rem;
    height: 2rem;
    border-radius: 1rem;
    text-align: center;
}
.dabba button{
    margin-bottom: 2rem;
    width: 4rem;
    height: 2rem;
    border-radius: 1rem;
    background-color: rgb(148, 9, 9);
    color: white;
    font-weight: bolder;
    font-size: large;
}
.dabba button:hover{
    background-color: rgb(19, 226, 19);
}
.main{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 1rem;
}
.welcome{
    display: flex;
    justify-content: center;
}
.welcome h1{
    padding: 1rem;
    position: fixed;
    border-radius: 10rem;
    color: white;
    background-color: rgb(148, 9, 9);
    border: 2px solid white;
}
.task h2{
    color: white;
    background-color: rgb(148, 9, 9);
    border-radius: 6rem;
    padding: 0.5rem;
}
@media (max-width:500px) {
    body{
        background-color: #1a2735;
    }
   .masla{
       flex-direction: column;
       margin-top: 6rem;
       height: 40rem;
   }
   .dabba{
       margin-top: 2rem;
    height: 15rem;
    width: 15rem;
   }
   .task{
       width: 15rem;
       height: 20rem;
   }
   .welcome{
       background-color:#1a2735;
   }
}